<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>icons/favicon-16x16.png">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="manifest" href="<%= BASE_URL %>site.webmanifest">

    <title>Mariage Cindy & Christophe</title>
  </head>
  <body>
    <noscript>
      <strong>Vous devez activer Javascript pour correctement visualiser ce site. Merci.</strong>
    </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
