<template>
  <div id="app">
    <ul id="menu" :class="menuColor">
      <li data-menuanchor="home" class="active">
        <a href="#home">Accueil</a>
      </li>
      <li data-menuanchor="schedule"><a href="#schedule">Programme</a></li>
      <li data-menuanchor="hosting"><a href="#hosting">Hébergement</a></li>
      <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
    </ul>

    <full-page id="fullpage" :options="options">
      <Home />
      <Schedule />
      <Hosting />
      <Contact />
    </full-page>
  </div>
</template>

<script>
import Home from './Home'
import Schedule from './Schedule'
import Hosting from './Hosting'
import Contact from './Contact'

export default {
  name: 'App',

  components: { Home, Schedule, Hosting, Contact },

  data() {
    return {
      menuColor: 'black'
    }
  },

  computed: {
    options() {
      return {
        // FIXME: Ask for a licence: https://alvarotrigo.com/#contact
        licenseKey: 'YOUR_KEY_HERE',
        menu: '#menu',
        navigation: true,
        anchors: ['home', 'schedule', 'hosting', 'contact'],
        onLeave: this.onLeave
      }
    }
  },

  methods: {
    onLeave(origin, destination) {
      if (destination.anchor === 'hosting') {
        // Before enterring #hosting, set menu to white
        this.menuColor = 'white'
      } else if (origin.anchor === 'hosting') {
        // Before leaving #hosting, set menu to black
        this.menuColor = 'black'
      }
    }
  }
}
</script>

<style scoped lang="scss">
#menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 70;
  font-size: 1.1em;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

  @media (max-width: 767px) {
    display: none;
  }

  &.white li a {
    color: #ccc;

    &::after {
      background: #ccc;
    }
  }

  &.black li a {
    color: #333;

    &::after {
      background: #333;
    }
  }

  li {
    position: relative;
    display: block;
    margin: 10px 0;
    text-align: right;

    a {
      padding: 0;
      text-decoration: none;

      &::after {
        position: absolute;
        right: -140px;
        bottom: -6px;
        width: 120px;
        display: block;
        height: 2px;
        margin: 0;
        content: '';
        transition: 0.2s linear all;
      }
    }

    &:hover a::after,
    &.active a::after {
      right: 0;
    }
  }
}
</style>
