<template>
  <div class="section">
    <div id="container">
      <p>Cindy Fauconnier & Christophe Favé</p>
      <p>5 rue des Roses</p>
      <p>56300 Pontivy</p>

      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdWabuxg0cFxzk2DG_0R7CW3WHZB9E5FM-hoK-yHStXUpogiA/viewform?embedded=true"
        width="380"
        height="590"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
      >
        Chargement en cours…
      </iframe>
    </div>
  </div>
</template>

<style scoped lang="scss">
.section {
  background-image: url('./img/bg-contact.jpg');
  background-size: cover;
  background-position: center 80%;
  background-color: #c0c0c0;

  @media (max-width: 767px) {
    background-image: none;
  }
}

#container {
  width: 50vw;
  margin: 0 5vw 0 0;
  padding: 1rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;

  @media (max-width: 767px) {
    width: 90vw;
    margin: 0 auto;
  }

  iframe {
    margin-top: 2rem;
  }
}
</style>
