<template>
  <div class="section">
    <div class="title">
      <h4>Cindy & Christophe</h4>
      <h5>27 juin 2020 - Les Hiboux, Cléguérec</h5>
    </div>
  </div>
</template>

<style scoped lang="scss">
.section {
  background-image: url('./img/bg-home.jpg');
  background-size: cover;
  background-position: center 80%;

  .title {
    padding-top: 75vh;
  }
}
</style>
