<template>
  <div class="section">
    <div id="container">
      <h3>Hébergement</h3>

      <p>
        40 couchages sont disponibles directement sur place aux Hiboux. Ils se décomposent comme
        suit :
      </p>

      <ul>
        <li>1 - x places - COMPLET</li>
        <li>2 - x places - y places disponibles</li>
        <li>3 - x places - y places disponibles</li>
        <li>etc...</li>
      </ul>

      <p>
        Merci de nous indiquer lors de votre réponse si vous souhaitez réserver un ou plusieurs
        couchage(s) pour la nuit du samedi au dimanche. Une participation de XX€/personne et
        XX€/enfant vous sera demandée.
      </p>
      <p>
        Pour les adolescent(e)s, un emplacement pour tentes sera disponible (tentes non fournies).
      </p>

      <p>D'autres hébergements sont disponibles sur Cléguérec : à compléter</p>
      <p>
        Pontivy n'est qu'à 10 minutes de voiture et propose un choix plus complet d'hôtels ou
        d'AirBnB (liens)
      </p>
    </div>
  </div>
</template>

<style scoped lang="scss">
.section {
  background-image: url('./img/bg-hosting.jpg');
  background-size: cover;
  background-position: center 80%;
}

#container {
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 4px;
  padding: 1rem 2rem 2rem;
  color: #333;

  @media (max-width: 767px) {
    width: 90vw;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
  }

  ul,
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;

    @media (max-width: 767px) {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
  }

  ul {
    padding: 0 2rem;
  }

  h3 {
    color: #333;
    margin-bottom: 2rem;
  }
}
</style>
