blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  padding: 0;
  margin: 0;
}

a {
  // text-decoration: none;
  color: #666;

  &:hover {
    text-decoration: underline;
  }
}

table {
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: 400;
}

q:after,
q:before {
  content: '';
}

abbr,
acronym {
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section {
  position: relative;
}

h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

h4 {
  font-size: 3.5em;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

h5 {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  h3 {
    font-size: 3em;
  }

  h4 {
    font-size: 2.5em;
  }

  h5 {
    font-size: 1em;
  }
}
