<template>
  <div class="section">
    <div id="container">
      <h3>Programme</h3>

      <ul>
        <li>15h30 - Accueil aux gîtes <a href="#hosting">Les Hiboux</a></li>
        <li>16h30 - Cérémonie laïque</li>
        <li>17h30 - Vin d'honneur</li>
        <li>19h30 - Repas</li>
        <li>00h00 - Bal</li>
        <li class="note">Possibilité de s'installer dans les chambres<br />avant la cérémonie</li>
      </ul>
    </div>
  </div>
</template>

<style scoped lang="scss">
.section {
  background-image: url('./img/bg-schedule.jpg');
  background-size: cover;
  background-position: center 80%;
}

#container {
  width: 40vw;
  margin: 40vh auto 0;
  background-color: rgba(240, 240, 240, 0.6);
  border-radius: 4px;
  padding: 1rem 2rem 2rem;

  @media (max-width: 767px) {
    width: 90vw;
    margin: 0 auto;
    padding: 1rem 0rem 2rem;
  }

  h3 {
    margin-bottom: 2rem;
    color: #444;
  }

  ul {
    list-style: none;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: #222;

    @media (max-width: 767px) {
      font-size: 1.2rem;
    }

    li.note {
      padding-top: 2rem;
      text-align: center;
      font-size: 75%;
      font-style: italic;
    }
  }
}
</style>
